<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container">
			<div class="jumbotron jumbotron-fluid mb-0">
				<h1 class="display-4">Novo Pedido</h1>
			</div>
			
			<form action="/pedido/novo" method="POST">
				<div>
					<label for="nomeProduto">Produto</label>
					<input name="nomeProduto" placeholder="nome do produto"/>
					<small>Informe qual o nome do produto.</small>
				</div>
				<div>
					<label for="urlProduto">Url</label>
					<input name="urlProduto" placeholder="url do produto"/>
					<small>Procure em um site o produto que você deseja e cole a url da página.</small>
				</div>
				<div>
					<label for="urlImagem">Imagem</label>
					<input name="urlImagem" placeholder="url da imagem"/>
					<small>Copie a url de uma boa imagem do produto e cole a url da imagem aqui para conseguir compradores!</small>
				</div>
				<div>
					<label for="descricao">Descricao</label>
					<textarea name="descricao" placeholder="Adicione detalhes importes aqui"></textarea>
				</div>
				<button type="submit">Cadastrar</button>
			</form>
		</div>
		
	</body>
</html>	